---
const { title, link, imageSrc, blurb } = Astro.props;
---

<li>
  <a href={link}>
  <!-- <img src={imageSrc} alt={title} style="width: 50px; height: 50px;" /> -->
    <h3>{title}</h3>
    <p>{blurb}</p>
  
  </a>
</li>